@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic&subset=latin,latin-ext);

html {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    background: #DCDCDC;
    color: #1B1B1B;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 3rem 0;
    font-size: 1.5rem;
    text-align: center;
    background: #A81D28;
    color: #DCDCDC;
}

main {
    margin: 0 auto;
    max-width: 36rem;
    padding: 3rem 1rem;
}

footer {
    margin: 1rem 0 0;
    padding: 0;
    font-weight: 200;
}

a[href] {
    color: #DC1B1B;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgba(220, 27, 27, 0);
    transition: text-decoration-color .25s ease-in-out;
}

a[href]:hover {
    text-decoration-color: #DC1B1B;
}

h1 {
    margin: 0;
    font-size: 6rem;
    font-weight: 600;
    font-synthesis: none;
}

h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
}

h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline;
}

p {
    margin: 0 0 1rem;
}

ol {
    list-style-type: decimal-leading-zero;
}

ul {
    list-style-type: circle;
}
